/* ROOT */

:root {

  /* --cake: #FFF; */
  /* --chocolate: #000; */

  /* --zeus-red: #125079; */
  /* --zeus-green: #2dbec2; */
  /* --zeus-blue: #e66100; */

}



/* 8 COLOR */

/* 8 1 FONT-COLOR */

a:hover {
  color: red;
}
nav a {
  color: brown;
}
button,
.red-velvet-cake,
.red-velvet-cake-cocoa,
.red-velvet-cake-cocoa a,
.red-velvet-cake-vinegar,
.red-velvet-cake-vinegar a {
  color: white;
}
.red-velvet-cake-cocoa a:hover {
  color: black;
}

/* 8 2 BACKGROUND-COLOR */

button {
  background-color: red;
}
.red-velvet-cake {
  /* background-color: ; */
}
.red-velvet-cake-vinegar {
  background-color: black;
}
.red-velvet-cake-cocoa {
  background-color: brown;
}
nav,
.red-velvet-cake-buttermilk {
  background-color: white;
}
.turbulence {
  background-attachment: fixed;
  background-image: url("../images/turbulence.png");
  /* background-position: left; */
  background-repeat: repeat;
  background-size: 50vw auto;
}
button:hover {
  /* background-color: var(--nd-orange-ii); */
}

/* 8 3 BORDER-COLOR */

.red-velvet-cake .matte {
  border: 1.25em solid brown;
}
.red-velvet-cake-buttermilk .matte {
  border: 1.25em solid black;
}
.red-velvet-cake.matte,
.red-velvet-cake-cocoa .matte {
  border: 1.25em solid white;
}
.red-velvet-cake-vinegar .matte {
  border: 1.25em solid red;
}
